@font-face {
  font-family: Montserrat-Bold ;
  src:url('fonts/Montserrat-Bold.ttf') format('ttf'),
  src:url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
  src:url('fonts/montserrat-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: Montserrat-SemiBold ;
  src:url('fonts/Montserrat-SemiBold.ttf') format('ttf'),
  src:url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  src:url('fonts/montserrat-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: Montserrat-Regular ;
  src:url('fonts/Montserrat-Regular.ttf') format('ttf'),
  src:url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
  src:url('fonts/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: Montserrat-Medium ;
  src:url('fonts/Montserrat-Medium.ttf') format('ttf'),
  src:url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
  src:url('fonts/montserrat-medium-webfont.woff') format('woff');
}
