h1, h3, h4,
.nav,
.wrap-features-inner__text,
.wrap-features-inner__textin,
.information-wrap-inner__text,
.information-wrap-inner__textin,
.information-interior-characteristic__textin-po,
.safety-total__stars-text,
.safety-total__stars-in,
.protection-text,
.protection__crash-text-about {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

.features-btn-test__text,
.features-btn__order,
.information-order,
.safety-order,
.safety-order-learn,
.information-order-learn,
.safety-rank-list,
.safety-rank-list__item-inner {
  font-family: "Montserrat-Bold";
  font-weight: 700;
}

.main__text,
.information__discription,
.safety__discription,
.safety__text {
  font-family: "Montserrat-Medium";
  font-weight: 500;
}

.wrap-features-inner__bottom,
.information-wrap-inner__bottom {
  font-family: "Montserrat-Regular";
  font-weight: 400;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.header {
margin: 26px auto;
}

.nav {
width: 100%;
display: flex;
justify-content: space-between;
}

.nav__label {
width: 166px;
height: 51px;
background: url('img/Tesla-Wordmark-Red.png') center/contain no-repeat;
}

.nav-list {
display: flex;
justify-content: space-around;
align-items: center;
width: 40%;
list-style: none;
margin: 0 auto;
}

.nav-list__item-models a,
.nav-list__item-modelx a,
.nav-list__item-model3 a,
.nav-list__item-modelr a,
.nav-list__item-modele a {
color: black;
text-decoration: none;
transition: 0.5s;
}

.nav-list__item-models a:active {
  border-bottom: 2px solid #E51937;
  border-radius: 9%;
  padding-bottom: 6px;
  color: #E51937;
}

.nav-list__item-models a:visited {
  border-bottom: 2px solid #E51937;
  border-radius: 9%;
  padding-bottom: 6px;
  color: #E51937;
}

.nav-list__item-models {
  padding-left: 5px;
}

.nav-list__item-modelx {
  padding-left: 25px;
  /*padding-right: 0;*/
}

.nav-list__item-model3 {
  padding-right: 25px;
}*/

.nav ul li a:hover {
border-bottom: 2px solid red;
border-radius: 9%;
padding-bottom: 1px;
}

.nav-part {
display: flex;
justify-content: space-between;
width: 16%;
}

.nav-part__sign {
display: flex;
width: 70%;
justify-content: space-between;
padding: 0;
}

.nav-part__sign-item {
display: block;
}

.nav-part__sign-item,
.nav-part__sign-item a {
list-style: none;
text-decoration: none;
color: black;
transition: 0.5s;
}

.nav-part__menu {
position: relative;
margin: 0px;
justify-content: flex-end;
}

.nav-part__menu-btn {
display: inline-block;
height: 50px;
width: 50px;
border-radius: 50%;
margin-right: 0px;
margin-left: 0px;
background-color: white;
position: relative;
opacity: 1;
transition: 0.5s;
}

.nav-part__menu-btn:hover {
transition: 0.5s;
opacity:1;
background-color: gray;
}

.nav-part__menu-btn span,
.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
position: absolute;
top: 50%; margin-top: -1.5px;
left: 50%; margin-left: -11.5px;
width: 23px;
height: 3px;
background-color: red;
opacity: 1;
}

.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
content: '';
}

.nav-part__menu-btn span::before {
transform: translateY(-6px);
}

.nav-part__menu-btn span::after {
transform: translateY(6px);
}

.main {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 660px;
background: url('img/Tesla-Wordmark-Redb.png') 33% 15%/contain no-repeat;
}

.main-bg__car {
display: flex;
background: url('img/tesla.png') 42% 60%/contain no-repeat;
height: 450px;
width: 100%;
margin: auto 0;
}

.main__title {
font-size: 90px;
margin: 20px 0px 0px 0px;
}

.main__text {
font-size: 15px;
}

.section {
display: flex;
width: 62%;
justify-content: space-around;
margin: 0 auto;
}

.wrap {
display: flex;
justify-content: space-between;
width: 45%;
}

.wrap-features {
display: flex;
align-items: flex-end;
width: 41%;
transition: 0.5s;
}

.wrap-features__icon-speed {
width: 37%;
height: 43px;
background: url('img/Speed.png') right/contain no-repeat;
}

.wrap-features__icon-road {
width: 25%;
height: 52px;
background: url('img/Road.png') left/contain no-repeat;
}

.wrap-features-inner {
display: flex;
flex-direction: column;
width: 63%;
}

.wrap-features-inner__text {
display: flex;
align-items: flex-end;
font-size: 35px;
width: 90%;
}

.wrap-features-inner__textin {
font-size: 20px;
padding: 0 0px 4px 5px;
margin: 0 auto;
}

.wrap-features-inner__bottom {
font-size: 12px;
margin: auto 0;
}

.features-btn {
display: flex;
justify-content: space-around;
align-items: flex-start;
width: 40%;
min-width: 267px;
margin: 0 5px;
}

.features-btn-test {
display: flex;
justify-content: center;
align-items: center;
width: 41%;
transition: 0.5s;
/*margin: 0 auto;*/
}

.features-btn-test:hover {
cursor: pointer;
width: 120px;
transition: 0.5s;
}

.features-btn-test__icon {
display: flex;
width: 20%;
height: 22px;
background: url('img/steering-wheel.png') left/contain no-repeat;
}

.features-btn-test__text {
font-size: 13px;
}

.features-btn__order {
display: flex;
height: 36px;
width: 156px;
font-size: 13px;
color: #E51937;
text-decoration: none;
justify-content: center;
align-items: center;
border: 2px solid #E51937;
transition: 0.5s;
}

.features-btn__order:hover {
background-color: red;
color: white;
transition: 0.5s;
cursor: pointer;
font-size: 20px;
}

.vector {
display: flex;
width: 100%;
margin: 2.6% auto;  /*было 2% закомиченно на гитхаб*/ /*margin-top: 2%*/
}

.vector__arrow {
display: flex;
width: 5%;
height: 15px;
background: url("img/Vector.png") center/contain no-repeat;
margin: 0 auto;
}

.vector__arrow:hover {
cursor: pointer;
transform: translateY(8px);
transition: 0.5s;
}

/**************************************************************************/
/*SECOND SECTION LAPTOP*/

.model {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 900px;
  background: url("img/2013-tesla-model-s-cockpit.png") left bottom/88% no-repeat;
}

.model__title {
  display: flex;
  font-size: 70px;
  color: #E51937;
  margin-left: 5.5%;
  margin-top: 0.91em;
  z-index: 3;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 900px;
  max-width: 440px;
  background-color: #E51937;
  color: white;
  z-index: 2;
}

.information-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 730px;
  max-width: 77%;
  /*align-items: flex-start;*/
}

.information__title {
  font-size: 30px;
  min-height: 295px;
  margin: 0;
  /*margin: auto 52px;*/
}

.information__discription {
  display: flex;
  font-size: 15px;
  padding-bottom: 0.5em;
  /*margin-bottom: 0;*/
  /*margin-top: 0em;*/
}

.information-interior {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 269px;
  min-height: 445px;
  /*padding-left: 52px;*/
  /*margin: 2% 0;
  margin-top: 0;*/
}

.information-wrap {
  display: flex;
  justify-content: flex-start;
  /*align-items: center;*/
  width: 75%;
  min-height: 65px;
  margin: 5% 0;
}

.information-wrap__icon-display {
  display: flex;
  width: 22%;
  height: 56px;
  align-self: flex-end;
  background: url('img/screen.png') left bottom/contain no-repeat;
  }

.information-wrap__icon-wifi {
  display: flex;
  width: 23%;
  height: 33px;
  align-self: center;
  background: url('img/wifi.png') left/contain no-repeat;
  }

.information-wrap__icon-bag {
  display: flex;
  width: 24%;
  height: 52px;
  align-self: center;
  background: url('img/bag.png') left/contain no-repeat;
  }

.information-wrap-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 68%;
  }

.information-wrap-inner__text {
  display: flex;
  align-items: flex-end;
  line-height: 0.9em;
  font-size: 35px;
  width: 85%;
  margin: 0px;
}

.information-wrap-inner__textin {
  font-size: 20px;
  line-height: 0.9em;
  align-self: flex-end;
  min-height: 40%;
  margin: 0 auto;
}

.information-wrap-inner__bottom {
  font-size: 12px;
  /*line-height: 0.95em;*/
  margin: auto 0;
  min-height: 40%;
  align-items: flex-end;
}

.information-order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 40px;
  width: 78%;
  padding-bottom: 1%;
  margin: 2% 0;

}

.information-order-learn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid #E51937;
  width: 50%;
  height: 40px;
  font-size: 13px;
  color: white;
  background-color: #E51937;
}

.information-order-learn__icon {
  display: flex;
  width: 16%;
  height: 22px;
  background: url('img/i.png') left/contain no-repeat;
}

.information-order__text {
  font-size: 13px;
}

.information-btn__order {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 153px;
  min-height: 37px;
  color: white;
  border: 2px solid white;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
}

.information-btn__order:hover {
background-color: white;
color: black;
cursor: pointer;
width: 120px;
transition: 0.5s;
}
/* секция 3 лэптопной версии */

.protection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 900px;
  /*background: url("img/Car frame group.png") 89% 55%/73% no-repeat;*/
  z-index: 2;
}

.protection__car {
  display: flex;
  position: absolute;
  width: 75.5%;                                              /*75%*/
  height: 66%;                                               /*65%*/
  top: 19%;                                                  /*19.2%*/
  left: 21.34%;                                              /*21.5*/
  background: url("img/Car frame group.png") 100% no-repeat;
  background-size: contain;
  z-index: 3;
  /*margin-left: calc(309.6px - (309.6 + 191.8) * ((100vw - 1440px) / (1440 - 769)));*/
}

.protection-text {
  display: flex;
  font-size: 200px;
  position: absolute;
  right: -0.5%;
  overflow: hidden;
  top: 10.5%;
  opacity: 0.2;
  color: #E51937;
  z-index: 1;
}

.safety {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 900px;
  max-width: 440px;
  background-color: #E51937;
  color: white;
  z-index: 2;
}

.safety-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 770px;
  max-width: 75%;
  margin-top: 5.5%;
}

.safety__title {
  font-size: 30px;
  /*padding-left: 52px;*/
  /*margin: 0;
  margin-top: 0;*/
    margin: 0.8em 0;
    /*margin-bottom: 0;*/
}

.safety__discription {
  display: flex;
  font-size: 15px;
  padding-bottom: 1em;
  margin-bottom: 0;
  /*margin-top: 1em;*/

}

.safety-rank {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  min-width: 100%;
  min-height: 70%;
  margin-bottom: 10%;
}

.safety-rank__title {
  display: flex;
  font-size: 30px;
  color: white;
  justify-content: left;
  align-items: center;
  z-index: 2;
  margin: 0.5em 0;
  margin-bottom: 0.9em;
}

.safety-rank-box {
  display: flex;
  flex-direction: row;
  width: 89%;
  /*height: 173px;*/
  justify-content: space-between;
/*  margin: auto 0;*/
}

.safety-rank-list {
  list-style: none;
  margin: 0; /*auto;*/
  padding: 0px;
  font-size: 17px;
}

.safety-rank-list__item {
  list-style: none;
  margin: 14% auto;
  margin-top: 0;
}

.safety-rank-list__item-inner {
  font-size: 10px;
  padding-left: 2%;
}

.safety-rank-stars {
  list-style: none;
  margin: 0; /*auto;*/
  padding: 0px;
  width: 48%;
  color: #fff;
  margin: 0;
  padding: 0;
}

.safety-rank-stars__item {
  list-style: none;
  height: 25px;
  width: 100%;
  background: url("img/Star.png") 25px space;
  margin-bottom: 8%;
  margin-right: 0;
}

.safety-total {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /*align-items: center;*/
  width: 100%;
  min-height: 65px;
  margin: 17% 0;
  margin-bottom: 0;
}

.safety-total__shield {
  display: flex;
  width: 30%;
  height: 74px;
  align-self: flex-end;
  background: url('img/security.png') 35% 100%/contain no-repeat;
}

.safety-total__stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 68%;
  margin: 0;
}

.safety-total__stars-text {
  font-size: 50px;
  line-height: 1.2em;
  margin: 0;
}

.safety-total__stars-in {
  display: flex;
  align-items: flex-end;
  line-height: 0.9em;
  font-size: 25px;
  width: 85%;
  margin: 0px;
}

.safety-order {
  display: flex;
  /*justify-content: space-between;*/
  align-items: flex-end;
  max-height: 41px;
  width: 84%;

}

.safety-order-learn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid #E51937;
  width: 50%;
  height: 40px;
  font-size: 13px;
  color: white;
  background-color: #E51937;
}

.safety-order-learn__icon {
  display: flex;
  width: 16%;
  height: 22px;
  background: url('img/i.png') left/contain no-repeat;
}

.safety-order__text {
  font-size: 13px;
}

.safety-btn__order {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  min-height: 37px;
  color: white;
  border: 2px solid white;
  margin: 0;
  text-decoration: none;
  font-size: 13px;
}

.safety-btn__order:hover {
background-color: white;
color: black;
cursor: pointer;
width: 120px;
transition: 0.5s;
}

.school__label {
  display: flex;
  align-self: flex-end;
  width: 94px;
  height: 38px;
  background: url('img/Group.png') center/100% no-repeat;
  margin: 1% auto;
  margin-right: 1%;
}


/*@media (max-width: 2560px) {

body {
  width: 100%;
  margin: 0 auto;
  }
}*/

@media (max-width: 1440px) {

body {
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
  }

.header {
  width: 94%;
  margin: 24px auto;
  }

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  }

.nav__label {
  min-width: 140px;
  height: 51px;
  }

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 39.5%;
  min-width: 380px;
  list-style: none;
  margin: 0 auto;
  padding-left: 47px;
  padding-bottom: 2px;*/
  }

.nav-list__item a {
  color: black;
  text-decoration: none;
  width: 100%;
  }

.nav-part {
  display: flex;
  justify-content: space-between;
  width: 16.5%;
  min-width: 190px;
  margin: auto 10px;
  margin-right: 0;
  }

.nav-part__sign {
  display: flex;
  width: 69%;
  justify-content: space-between;
  padding: 0;
  }

.nav-part__sign-item {
  display: block;
  }

.nav-part__sign-item,
.nav-part__sign-item a {
  list-style: none;
  text-decoration: none;
  color: black;
  }

.nav-part__menu {
  position: relative;
  margin: 0px;
  justify-content: flex-end;
  }

.nav-part__menu-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
  position: relative;
  opacity: 1;
  transition: 0.5s;
  }

.nav-part__menu-btn:hover {
  transition: 0.5s;
  opacity:1;
  background-color: gray;
  }

.nav-part__menu-btn span,
.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1.5px;
  left: 50%; margin-left: -11.5px;
  width: 23px;
  height: 3px;
  background-color: red;
  opacity: 1;
  }

.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  content: '';
  }

.nav-part__menu-btn span::before {
  transform: translateY(-6px);
  }

.nav-part__menu-btn span::after {
  transform: translateY(6px);
  }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 660px;
  background-size: 99%;
  background-position: 20% 15%;
  margin: 0 auto;
  }

.main-bg__car {
  display: flex;
  height: 68%;
  width: 100%;
  margin: auto 0;
  }

.main__title {
  font-size: 90px;
  margin-top: 25px;
  line-height: 1.3em;
  }

.main__text {
  font-size: 15px;
  line-height: 0.01em;
  }

.section {
  display: flex;
  width: 62%;
  min-width: 634px;
  justify-content: space-around;
  margin: 0 auto;
  }

.wrap {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0;
  }

.wrap-features {
  display: flex;
  align-items: flex-start;
  width: 42%;
  min-width: 146px;
  margin: auto 1%;
  }

.wrap-features__icon-speed {
  width: 46%;
  background-position: center;
  }

.wrap-features__icon-road {
  width: 40%;
  height: 52px;
  background-position: 70% 50%;
  }

.wrap-features-inner {
  display: flex;
  flex-direction: column;
  width: 63%;
  }

.wrap-features-inner__text {
  display: flex;
  align-items: flex-end;
  font-size: 35px;
  line-height: 0.6em;
  }

.wrap-features-inner__textin {
  font-size: 20px;
  margin: 0 auto;
  max-height: 10px;
  }


.wrap-features-inner__bottom {
  font-size: 12px;
  line-height: 3em;
  margin: auto 0;
  }

.features-btn {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  min-width: 65px;
  height: 40px;
  }

.features-btn-test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 117px;
  border: 2px solid #fff;
  }

.features-btn-test__icon {
  display: flex;
  width: 20%;
  height: 22px;
  }

.features-btn-test__text {
  font-size: 13px;
  }

.features-btn__order {
  display: flex;
  height: 36px;
  width: 156px;
  min-width: 110px;
  font-size: 13px;
  color: #E51937;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #E51937;
  }

.vector {
  display: flex;
  width: 100%;
  margin-top: 2.1%;
  }

.vector__arrow {
  display: flex;
  width: 5%;
  height: 15px;
  margin: 0 auto;
  }

.vector__arrow:hover {
  cursor: pointer;
  transform: translateY(8px);
  transition: 0.5s;
  }
}

@media (max-width: 1378px) {
  .protection__car {
    left: 25%;
  }

  .protection-text {
    right: 0;
    font-size: 150px;
  }
}

@media (max-width: 1215px) {
  .protection__car {
    left: 29%;
    max-width: 750px;
  }

  .protection-text {
    right: 0;
    font-size: 125px;
  }
}

@media (max-width: 1085px) {
  .protection__car {
    left: 33%;
    max-width: 600px;
  }

  .protection-text {
    right: 0;
    font-size: 100px;
  }
}

@media (max-width: 960px) {
  .protection__car {
    left: 37%;
    max-width: 500px;
  }

  .protection-text {
    right: 0;
  }
}

@media (max-width: 890px) {
  .protection__car {
    left: 44%;
    max-width: 400px;
  }

  .protection-text {
    right: 0;
    font-size: 80px;
  }
}

@media (max-width: 769px) {

body {
  max-width: 768px;
  width: 100vw;
  margin: 0 auto;
}

.header {
  width: 96%;
  margin: 26px auto;
  margin-bottom: 0;
  }

.nav {
  display: flex;
  justify-content: space-between;
  }

.nav__label {
  width: 166px;
  height: 51px;
  }

.nav-list {
  display: none;
  }

.nav-part__sign {
  display: none;
  }

.nav-part {
  display: flex;
  justify-content: space-between;
  width: 10%;
  min-width: 50px;
  }

.nav-part__menu {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  }

.nav-part__menu-btn {
  display: inline-block;
  height: 50px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
  }

.nav-part__menu-btn:hover {
  transition: 0.5s;
  opacity:1;
  background-color: gray;
  }

.nav-part__menu-btn span,
.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1.5px;
  left: 50%; margin-left: -16.5px;
  width: 33px;
  height: 3px;
  background-color: red;
  opacity: 1;
  }

.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  content: '';
  }

.nav-part__menu-btn span::before {
  transform: translateY(-10px);
  }

.nav-part__menu-btn span::after {
  transform: translateY(10px);
  }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-position: 25% 48%;
  background-size: 108%;
  height: 40em;
  }

.main__title {
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 0.9em;
  line-height: 1em;
  }

.main__text {
  margin: 7% 0;
  margin-top: 0;
  line-height: 0.01em;
  }

.main-bg__car {
  display: flex;
  height: 59%;
  width: 100%;
  background-position: center;
  background-size: 92%;                             /*90%*/
  margin: 0 auto;
/*  margin-top: 0;*/

  }

.section {
  display: flex;
  flex-direction: column;
  min-height: 193px;
  min-width: 382px;
  width: 80%;
  justify-content: space-between;

  }

.wrap {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 1% auto;
  margin-top: 20px;
  margin-bottom: 0px;
  }

.wrap-features {
  display: flex;
  width: 40%;
  min-width: 197px;
  margin-top: 0.5%;                       /*1%*/
  }

.wrap-features__icon-speed {
  /*min-width: 20%;*/
  width: 43%;
  height: 62px;
  background-position: left center;
  }

.wrap-features__icon-road {
  width: 35%;
  height: 72px;
  background-color: white;
  background: url('img/Road-icon-ipad.png') 50% 55% /contain no-repeat;
  }

.wrap-features-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
  }

.wrap-features-inner__text {
  display: flex;
  font-size: 50px;
  align-items: center;
  }

.wrap-features-inner__textin {
  align-self: center;
  font-size: 20px;
  max-height: 15px;
  }

.wrap-features-inner__bottom {
  font-size: 12px;
  line-height: 3.3em;
  align-items: center;
  }

.features-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  }

.features-btn-test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
  min-width: 155px;
  margin: 0;
  }

.features-btn-test__icon {
  display: flex;
  width: 27%;
  height: 31px;
  background-color: white;
  background: url('img/steering-wheel(red).png') left 50%/contain no-repeat;
  }

.features-btn-test__text {
  font-size: 16px;
  color: #E51937;
  }

.features-btn__order {
  display: flex;
  height: 56px;
  width: 221px;
  min-width: 150px;
  font-size: 16px;
  color: #fff;
  background-color: #E51937;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  /*margin-right: 5.5%;*/
  }

.vector {
  display: flex;
  width: 100%;
  margin-top: 9%;
  margin-bottom: 8%;
  }

.vector__arrow {
  display: flex;
  width: 5%;
  height: 15px;
  margin: 0 auto;
  transition: 0.5s;
  }

.vector__arrow:hover {
  cursor: pointer;
  transform: translateY(8px);
  }

  /*     2 секция айпад               */

.model {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
  /*width: 100%;*/
  min-height: 990px;
  background: url('img/2013-tesla-model-s-cockpit-ipad.png') center 1%/contain no-repeat;
}

.model__title {
/*display: flex;*/
/*font-size: 70px;
color: #E51937;*/
justify-content: flex-end;
margin-top: 1.3%;
margin-right: 6%;
z-index: 3;
}

.information {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  height: 49%;
  min-height: 485px;
  min-width: 100%;
  /*background-color: #E51937;*/
  /*color: white;*/
  z-index: 2;
}

.information-part {
  /*display: flex;*/
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
  width: 90.5%;
  max-width: 695px;
  min-width: 550px;
  margin: 1% auto;
}

.information__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 310px;
  max-width: 317px;
}

.information__discription {
  padding-bottom: 1.3em;
}

.information-interior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  min-width: 260px;
  min-height: 265px; /*250px;*/
  margin: 0;
}

.information-wrap {
  display: flex;
  /*align-items: center;*/
  width: 91%;
  min-height: 65px;
  margin-bottom: 5%;
  margin-top: 0;
}

.information-wrap-inner__text {
  /*display: flex;
  align-items: flex-end;
  line-height: 1em;
  font-size: 35px;
  width: 85%;
  margin: 0px;*/
  min-height: 52%;
}

.information-wrap-inner__bottom {
  min-height: 20%;
}

.information-order {
  max-width: 60%;
  margin: 4% auto;
  margin-bottom: 0;
}

.information-wrap__icon-wifi {
  /*align-self: center;*/
  width: 24%;
  height: 36px;
  background-position: left 95%;
  background-size: 65%;
  margin-bottom: 6%;
  }

.information-btn__order {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 50px;
  color: white;
  border: 2px solid white;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}

.information-order-learn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border: 0.5px solid #E51937;
  width: 50%;
  min-width: 195px;
  height: 52px;
  font-size: 16px;
  color: white;
  background-color: #E51937;
}

.information-order-learn__icon {
  display: flex;
  width: 19%;
  height: 32px;
  align-self: center;
  /*background: url('img/i.png') /contain no-repeat;*/
}

.information-order__text {
  font-size: 16px;
}

/*     3 секция айпад               */

.protection {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  width: 100%;
  min-height: 1025px;
  /*background: url("img/Car frame group ipad.png") 8% 13%/95% no-repeat;*/
  z-index: 2;
}

.protection__car {
  display: flex;
  width: 98%;
  max-width: 750px;
  height: 41.5%;                   /* 42%*/
  top: 7.5%;
  left: -1%;
  background: url("img/Car frame group ipad.png") center no-repeat;
  background-size: contain;
}

.protection-text {
  display: flex;
  font-size: 148px;
  position: relative;
  opacity: 0.2;
  color: #E51937;
  z-index: 1;
  margin-top: 5%;
}

.safety {
  justify-content: center;
  height: 49%;
  min-height: 485px;
  max-height: 488px;
  min-width: 100%;
}

.safety-part {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 317px;
  width: 91%;
  max-width: 700px;
  min-width: 375px;
  margin: 0% auto;
  margin-bottom: 0;
}

.safety__title {
  font-size: 30px;
  min-width: 316px;
  max-width: 317px;
  margin: 0;
}

.safety-rank {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  min-width: 44%;
  min-height: 75%;
}

.safety-rank__title {
  display: flex;
  font-size: 30px;
  color: white;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.9em;
  margin-top: 0;
  z-index: 2;
}

.safety-rank-box {
  display: flex;
  flex-direction: row;
  width: 94%;
  /*height: 173px;*/
  justify-content: space-between;
}

.safety-rank-list {
  list-style: none;
  margin: 0; /*auto;*/
  padding: 0px;
  font-size: 17px;
}

.safety-rank-list__item {
  list-style: none;
  margin: 14% auto;
  margin-top: 0;
}

.safety-rank-list__item-inner {
  font-size: 10px;
  padding-left: 2%;
}

.safety-rank-stars {
  list-style: none;
  margin: 0; /*auto;*/
  padding: 0px;
  width: 48%;
  min-width: 126px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.safety-rank-stars__item {
  list-style: none;
  height: 25px;
  width: 100%;
  background: url("img/Star.png") 25px space;
  margin-bottom: 8%;
  margin-right: 0;
}

.safety-total {
  display: none;
}

.safety-order {
  justify-content: space-between;
  max-width: 60%;
  margin: 0;
}

.safety-order-learn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  border-bottom: 0.5px solid #E51937;
  width: 50%;
  min-width: 189px;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: #E51937;
}

.safety-order-learn__icon {
  display: flex;
  width: 18%;
  height: 32px;
  background: url('img/i.png') left/contain no-repeat;
}

.safety-order__text {
  font-size: 16px;
}

.safety-btn__order {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 216px;
  min-height: 50px;
  color: white;
  border: 2px solid white;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}

.school__label {
  display: none;
}
}

@media (max-width: 767px) {

.information {
  justify-content: flex-end;
  align-items: flex-end;
  height: 55%;
  height: 750px;
  z-index: -2;
  }

.information-part {
  margin-bottom: 20%;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 376px;
  margin: 0 auto;
  margin-bottom: 7%;
}

.information-interior {
  min-width: 260px;
  min-height: 205px; /*250px;*/
  /*line-height: 0.5em;*/

  padding-left: 3%;                                 /*-*/
}

.information-wrap-inner {
  justify-content: center;                    /**/
}


}

@media (max-width: 700px) {

.information-wrap-inner__textin {                  /**/
  margin: 0px;
  padding-left: 2%;
 }

.safety__title {
  padding-right: 3%;
 }
}

@media (max-width: 630px) {

.information-part {
  flex-wrap: wrap;
}
.information__title {
  min-height: 180px;
  margin: 0;
}

.information__discription {
  font-size: 12px;
}

.information-interior {
  padding-left: 0;
}

.information-wrap {                                /**/
  justify-content: center;
  width: 100%;
}

.information-wrap-inner {                           /**/
  justify-content: center;
  align-items: center;
}

.information-wrap-inner__text {
  font-size: 25px;
  justify-content: center;
  }

.information-wrap-inner__textin {
  font-size: 15px;
  }

.information-wrap-inner__bottom {
  font-size: 10px;
  }

.information-order {
  justify-content: center;
  }

.protection-text {
  font-size: 90px;
  }
}

@media (max-width: 600px) {
.information {
  justify-content: center;
  }

.information__title {
  font-size: 20px;
  min-height: 180px;
  min-width: 280px;
  margin: auto 2%;
  margin-top: 20%;
  }

.safety-part {
  justify-content: center;
  text-align: center;
  margin: auto 0;
  flex-wrap: wrap;
}

.safety__title {
  font-size: 20px;
  margin-right: 2%;
}

.safety__discription {
  font-size: 12px;
}

.safety-rank__title {
  font-size: 20px;
  justify-content: center;
}

.safety-order {
  max-width: 60%;
}

.safety-order-learn {
  min-width: 140px;
  font-size: 12px;
}

.safety-order__text {
  font-size: 12px;
}

.safety-btn__order {
  min-width: 140px;
  font-size: 12px;
}
}

@media (max-width: 505px) {

.wrap-features {
  display: flex;
  align-items: flex-end;
  width: 40%;
  min-width: 170px;
  margin: auto 0;
  }

.wrap-features-inner__text {
  font-size: 30px;
  }

.wrap-features-inner__textin {
  font-size: 12px;
  }

.wrap-features-inner__bottom {
  font-size: 10px;
  }

.features-btn-test__text {
  font-size: 13px;
  }

.features-btn__order {
  font-size: 11px;
  height: 50px;
  width: 200px;
  min-width: 150px;
    /*margin-right: 5.5%;*/
  }

.wrap-features__icon-speed {
      /*min-width: 20%;*/
  width: 35%;
  height: 40px;
  }

.wrap-features__icon-road {
  width: 30%;
  height: 45px;
  background-color: white;
  }

.features-btn-test__icon {
  display: flex;
  width: 23%;
  height: 25px;
  }

.features-btn-test__text {
  font-size: 13px;

  }
}
@media (max-width: 376px) {

body {
  max-width: 375px;
  width: 100vw;
  margin: 0 auto;
  }

.header {
  width: 96%;
  margin: 5px 3px 0px 2px;
  }

.nav {
  display: flex;
  justify-content: space-between;
  }

.nav__label {
  width: 138px;
  height: 42px;
  }

.nav-list {
  display: none;
  }

.nav-part {
  display: flex;
  justify-content: space-between;
  width: 44px;
  min-width: 40px;
  }

.nav-part__sign {
  display: none;
  }

.nav-part__menu {
  position: relative;
  width: 44px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin: 0;
  }

.nav-part__menu-btn {
  display: inline-block;
  height: 46px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
  }

.nav-part__menu-btn:hover {
  transition: 0.5s;
  opacity:1;
  background-color: gray;
  }

.nav-part__menu-btn span,
.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1.5px;
  left: 50%; margin-left: -11.5px;
  width: 23px;
  height: 3px;
  background-color: red;
  opacity: 1;
  }

.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  content: '';
  }

.nav-part__menu-btn span::before {
  transform: translateY(-6px);
  }

.nav-part__menu-btn span::after {
  transform: translateY(6px);
  }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20em; /*318px 635px;*/
  background-position: 40% 58%;
  background-size: 113%;
  }

.main__title {
  font-size: 50px;
  margin: 25px 0 0 0;
  line-height: 1.3em;
  }

.main__text {
  display: flex;
  font-size: 10px;
  line-height: 0.1em;
  margin: 0 0 50px 0;
  }

.main-bg__car {
  display: flex;
  height: 55%;
  width: 95%;
  background-position: bottom;
  background-size: contain;
  margin-bottom: 2%;
  }

.section {
  display: flex;
  flex-direction: column;
  width: 82%;
  min-width: 200px;
  justify-content: space-around;
  min-height: 163px;
  }

.wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  }

.wrap-features {
  display: flex;
  align-items: flex-end;
  width: 40%;
  min-width: 145px;
  }

.wrap-features__icon-speed {
  width: 36%;
  height: 37px;
  background-position: left;
  background-size: contain;
  }

.wrap-features__icon-road {
  width: 40%;
  height: 42px;
  padding-bottom: 3px;
  background-position: 58% 0%;
  }

.wrap-features-inner {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 90px;
  }

.wrap-features-inner__text {
  display: flex;
  align-items: flex-end;
  font-size: 27px;
  line-height: normal;
  padding: 0 6px 1px 3px;
  }

.wrap-features-inner__textin {
  font-size: 15px;
  margin: 0 auto;
  align-self: center;
  padding-bottom: 0;
  }


.wrap-features-inner__bottom {
  font-size: 10px;
  line-height: normal;
  margin: auto 0;
  }

.features-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  }

.features-btn-test {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  min-width: 140px;
  }

.features-btn-test__icon {
  display: flex;
  width: 20%;
  height: 22px;
  background-position: left;
  }

.features-btn-test__text {
  font-size: 13px;
  }

.features-btn__order {
  display: flex;
  height: 40px;
  width: 160px;
  font-size: 13px;
  color: #fff;
  background-color: #E51937;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #E51937;
  margin: 0;
  }

.vector {
  display: flex;
  width: 100%;
  margin-top: 5%;           /*изменено после отправки на проверку*/
  margin-bottom: 0%;
  }

.vector__arrow {
  display: flex;
  width: 10%;
  height: 15px;
  margin: 0 auto;
  }

.vector__arrow:hover {
  cursor: pointer;
  transform: translateY(8px);
  transition: 0.5s;
  }

/*         секция 2 телефон    */

.model {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: flex-end;
  /*width: 100%;*/
  min-height: 626px;
  background: url('img/2013-tesla-model-s-cockpit mob.png') center top/contain no-repeat;
}

.model__title {
display: none;
}

.information {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  height: 49%;
  min-height: 304px;
  min-width: 100%;
  /*background-color: #E51937;*/
  /*color: white;*/
  z-index: 2;
}

.information-part {
  justify-content: space-between;
  align-items: flex-start;
  /*max-height: 265px;*/
  min-height: 231px;
  min-width: 320px;
  margin: 1% auto ;
  margin-top: 0;
  margin-left: 7%;
}

.information__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  min-height: 265px;
  font-size: 30px;
  text-align: left;
  /*margin-top: 3%;*/
  margin: 0;
}

.information__discription {
  font-size: 15px;
  padding-bottom: 0;
  margin-top: 0em;
}

.information-interior {
  display: none;
}

.information-wrap {
  display: none;
}

.information-order {
  display: none;
}

.information-btn__order {
  display: none;
}

/*         3 секция телефон       */

body {
  min-width: 375px;
}

.protection {
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 598px;
  max-height: 599px;
  /*background: url("img/Car frame group ipad.png") 8% 13%/95% no-repeat;*/
  z-index: 2;
}

.protection__car {
  display: flex;
  width: 98%;
  height: 44%;
  top: 0%;
  left: -1%;
  background-color: #fff;
  background: url("img/Group 18 mob.png") center 100% no-repeat;
}

.protection-text {
  font-size: 100px;
  position: relative;
  width: 110%;
  /*overflow-x: hidden;*/
  margin-top: 6%;
  margin-left: 4%;
}

.safety {
  height: 49%;
  min-height: 304px;
  max-height: 304px;
  min-width: 100%;
  max-width: 375px;
}

.safety-part {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 265px;
  min-width: 320px;
  margin: 0% auto;
  margin-bottom: 0;
}

.safety__title {
  font-size: 30px;
  min-width: 316px;
  max-width: 317px;
  margin: 0;
  min-height: 265px;
}

.safety__discription {
  font-size: 15px;
  text-align: left;
  padding-bottom: 0;
/*margin-top: 0em;*/
  margin: 4% auto;
  margin-bottom: 0;

}

.safety-rank {
  display: none;
}

.safety-total {
  display: none;
}

.safety-order {
  display: none;
}

.school__label {
  display: none;
}
}
