h1, h3, h4,
.nav,
.features-acceleration__text,
.features-range__text,
.interior-characteristic__text,
.safety-total__stars,
.protection-text,
.protection__crash-text-about {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
}

.features-test-btn-text,
.features-test-order__btn,
.order__button,
.order-learn__icon,
.safety-rank-list__item li {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}

.main__text,
.information__discription,
.safety__text-description {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}

.features-acceleration__text-inner,
.features-range__text-inner,
.interior-characteristic__inner {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.nav {
  display: flex;
  Width: 1337,28px;
  Height: 51px;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 60px 0px 42.72px;
}

.nav__label, .nav-list, .nav-part {
  display: flex;
  background-color: white;
  color: black;
  margin: 0;
}

.nav-part {
  position: relative;
  max-width: 150px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0px;
}

.nav-list {
  align-items: center;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

.nav-list li a{
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0px;
  margin-top: 0;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 15px;
  font-size: 15px;
}

.nav ul li a:hover {
  border-bottom: 3px groove red;
  border-radius: 9%;
  padding-bottom: 10px;
}

.nav-part ul li a {
  text-decoration: none;
  background-color: white;
  color: black;
  margin: 0px 10px 10px 10px;
  font-size: 15px;
}

.nav-part__sign {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  list-style: none;
}

.nav-part__menu {
  position: relative;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
}

.nav-part__menu-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: 0.5s;
}

.nav-part__menu-btn:hover {
  transition: 0.5s;
  opacity:1;
  background-color: gray;
}

.nav-part__menu-btn span,
.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: red;
  opacity: 1;
}

.nav-part__menu-btn span::before,
.nav-part__menu-btn span::after {
  content: '';
}

.nav-part__menu-btn span::before {
  transform: translateY(-5px);
}

.nav-part__menu-btn span::after {
  transform: translateY(5px);
}

.main {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1521px;
  height: 594px;
  left: -74px;
}

.main__title {
  font-size: 90px;
  position: absolute;
  justify-content: center;
  padding-top: 0px;
  margin: 25px 0 0 0;
}

.main__text {
  display: flex;
  position: absolute;
  width: 241px;
  height: 19px;
  top: 120px;
  justify-content: center;
  font-size: 15px;
}

.main-bg__wormark {
  display: flex;
  position: absolute;
  width: 1504px;
  height: 467px;
  left: 0px;
  top: 7px;
  background: url("img/Tesla-Wordmark-Red b.png") center/90%  no-repeat;
  z-index: -1;
}

.main-bg__car {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 968px;
  height: 450px;
  bottom: 0;
  background: url("img/tesla.png") center/cover no-repeat;
}

.features {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.features-acceleration, .features-range, .features-test-btn, .features-test-order__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  color: black;
  margin: 0;
}

.features-acceleration {
  width: 154px;
  height: 56px;
  background-color: white;
  padding: 0px;
}

.features-range {
  width: 140px;
  height: 58px;
  background-color: white;
  padding: 0px;
}

.features-acceleration:hover, .features-range:hover {
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.features-test-btn {
  width: 118px;
  height: 22px;
}

.features-test-btn:hover {
  cursor: pointer;
  width: 110px;
  transition: 0.5s;
}

.features-test-order__btn:hover {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  transition: 0.5s;
}

button {
  border: 0;
}

.features-acceleration__text,
.features-acceleration__text-inner,
.features-acceleration__icon,
.features-range__text,
.features-range__text-inner,
.features-range__icon,
.features-test-btn__text,
.features-test-btn__icon  {
  position: absolute;
}

.features-acceleration__icon,
.features-range__icon,
.features-test-btn__icon {
  left: 0px;
}

.features-acceleration__text,
.features-range__text {
  justify-content: flex-start;
  top: 15%;
  margin: 0;
}

.features-acceleration__text-inner,
.features-range__text-inner {
  bottom: 15%;
  justify-content: center;
}

.features-acceleration__text-inner {
  padding-left: 37px;
  margin: 0;
}

.features-range__text-inner {
  padding-left: 21px;
  margin: 0;
}

.features-test-btn__text {
  right: 0;
  margin: 0;
  padding: 0;
}

.features-test-order__btn {
  width: 160px;
  height: 40px;
  color: red;
  border: 2px solid red;
  text-decoration: none;
}

.vector {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;

  }

.vector__arrow {
  display: block;
  width: 28px;
  height: 15px;
  background: url("img/Vector.png") center no-repeat;
  }

  .vector__arrow:hover {
    cursor: pointer;
    transform: translateY(8px);
    transition: 0,5s;
  }
